.app-body {
	margin-top: 80px;
}

.nav-styles {
	background-color: #1a1b22;
}

.nav-styles a{
	color: #aeaeae;
}

.nav-styles a:hover{
	color: #cccccc;
}

.nav-link.active {
	color: #e64758 !important;
}

.dropdown-links a {
	color: #1a1b22;
}

.dropdown-links a:hover {
	color: #252830;
}